# Environment variables
.env

# Logs
*.log

# Documentation
*.md

# Dependency directories
vendor

# Git file
.git

# Docker file
*Dockerfile*
*docker-compose*

# Deploy folder and file
.gitlab-ci.yml
